.select {
    border: 1px solid $blue;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    margin-top: $s-size;
    margin-bottom: $s-size;
    background-color: white;
    height: $l-size;
  }
  
  .select *{
    border-radius:15px;
    width: 10%;
  }
  
  .text-input {
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    margin: 20px auto 10px auto;
    padding: 15px 0 15px 10px;
    font-size: $s-size;
  }
  
  .text-inputSlackTime{
    @extend .text-input;
    margin: 0;
    padding: 0;
    margin-left: 1.2rem;
  }

  .button {
    background: #29292b;
    border: 1px solid white;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 2.2rem;
    width: 90%;
  }

  .buttonProjectRightListItem{
    @extend .button;
    font-size: 0.7rem;
    width: 100%;
  }

  .saveButton{
    margin: $s-size 0;
    width: 100%;
    background: darkorange;
  }
